
@font-face {
    font-family: minecraft;
    src: url(../fonts/mojangles.otf);
}

@font-face {
    font-family: minecraft;
    src: url(../fonts/mojangles_bold.otf);
    font-weight: bold;
}

@font-face {
    font-family: minecraft;
    src: url(../fonts/mojangles_italic.otf);
    font-style: italic;
}

@font-face {
    font-family: minecraft;
    src: url(../fonts/mojangles_bold_italic.otf);
    font-weight: bold;
    font-style: italic;
}