
* {
    color: white;
    padding: 0rem;
    margin: 0rem;
    box-sizing: border-box;
    user-select: none;
    font-family: minecraft;
}

/* ------------------------------------------------------ */

button {
    position: relative;
    border: var(--pixel) solid black;
    background-color: var(--dark);
    padding-bottom: var(--pixel);
}

button>div {
    background-color: var(--medium);
    border: var(--pixel) solid var(--light);
    height: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: var(--pixel);
}

button:active {
    margin-top: var(--pixel);
    padding-bottom: 0px;
}

button:hover {
    outline: var(--pixel) solid white;
    cursor: pointer;
}

button.selected>div {
    border-color: var(--green-medium);
    background-color: var(--green-dark);
}

/* ------------------------------------------------------ */

.clickable:hover {
    outline: var(--pixel) solid white;
    cursor: pointer;
}

hr {
    border: none;
    border-top: var(--pixel) solid var(--light);
    height: 0px;
    width: 100%;
}

a:empty {
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

img {
    width: calc(7 * var(--pixel));
    image-rendering: pixelated;
}

samp {
    border: var(--pixel) solid black;
}

samp>div {
    width: 100%;
    height: 100%;

    background-color: var(--darken);
    /* border-top: var(--pixel) solid var(--dark);
    border-left: var(--pixel) solid var(--dark); */
}

samp>div>div {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* border-bottom: var(--pixel) solid var(--light);
    border-right: var(--pixel) solid var(--light); */
    border: var(--pixel) solid var(--medium);
    /* border-bottom: var(--pixel) solid var(--medium); */
}

p {
    padding: 0px calc(2 * var(--pixel)) 0px calc(2 * var(--pixel));

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------ */
