
body {
    background-color: var(--dark);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------ */

main {
    display: flex;
    flex-direction: column;
    
    outline: var(--pixel) solid black;
    background-color: var(--medium);
    border: var(--pixel) solid var(--light);

    transition: 1s background-color, 1s border-color;
}

main>* {
    padding: calc(4 * var(--pixel));
}

/* ------------------------------------------------------ */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(4 * var(--pixel));

    background-color: var(--darken);
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: var(--pixel);
    align-items: center;
    justify-content: center;
}

menu {
    display: flex;
    flex-direction: column;
    gap: calc(4 * var(--pixel));
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(4 * var(--pixel));
}

li>p {
    align-self: center;
}

li>div {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: calc(4 * var(--pixel));
}

#button_start {
    margin-left: calc(4 * var(--pixel));
    margin-right: calc(4 * var(--pixel));
    width: 100%;
}

/* ------------------------------------------------------ */

