
body {
    background-color: var(--dark);
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------------------------ */

main {
    display: flex;
    flex-direction: column;
    
    background-color: var(--medium);
    border: var(--pixel) solid var(--light);
    outline: var(--pixel) solid black;
}

main>* {
    padding: calc(4 * var(--pixel));
    /* padding-top: calc(2 * var(--pixel));
    padding-bottom: calc(2 * var(--pixel)); */
}

/* main>*:first-child {
    padding-top: calc(4 * var(--pixel));
    padding-bottom: calc(4 * var(--pixel));
}

main>*:nth-child(2) {
    padding-top: calc(4 * var(--pixel));
}

main>*:last-child {
    padding-bottom: calc(4 * var(--pixel));
} */

/* ------------------------------------------------------ */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* justify-content: center; */
    align-items: stretch;
    gap: calc(4 * var(--pixel));

    background-color: var(--darken);
}

#grid {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: var(--pixel);
    align-items: center;
    justify-content: center;
}

menu {
    display: flex;
    flex-direction: column;
    gap: calc(4 * var(--pixel));
}

li {
    display: flex;
    flex-direction: row;
    gap: var(--pixel);
}

li>p {
    align-self: center;
}

#start {
    margin-left: calc(4 * var(--pixel));
    margin-right: calc(4 * var(--pixel));
    width: 100%;
}